h1 {
    font-family: 'Times New Roman';
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    word-wrap: normal;
    page-break-before: always;
    text-shadow: 1px 1px crimson;
    line-height: 18px;
    text-indent: 0cm;
    font-weight: normal;
    
}
/*
    1 уровень
    интервал пос-ле 18 пт
    стиль следующего аб-заца – стиль для подзаголовка
*/